################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/Modules/Authentication/WinglyShop.Authentication.Application/obj
/Modules/Authentication/WinglyShop.Authentication.Domain/obj
/Modules/Authentication/WinglyShop.Authentication.Infrastructure/obj
/Modules/Carts/WinglyShop.Carts.Application/obj
/Modules/Carts/WinglyShop.Carts.Domain/obj
/Modules/Carts/WinglyShop.Carts.Infrastructure/obj
/Modules/Categories/WinglyShop.Categories.Application/obj
/Modules/Categories/WinglyShop.Categories.Domain/obj
/Modules/Categories/WinglyShop.Categories.Infrastructure/obj
/Modules/Orders/WinglyShop.Orders.Application/obj
/Modules/Orders/WinglyShop.Orders.Domain/obj
/Modules/Orders/WinglyShop.Orders.Infrastructure/obj
/Modules/Products/WinglyShop.Products.Application/obj
/Modules/Products/WinglyShop.Products.Domain/obj
/WinglyShop.Shared/obj
/WinglyShop.Infrastructure/obj
/WinglyShop.Shared/bin/Debug/net8.0
/WinglyShop.Infrastructure/bin/Debug/net8.0
/WinglyShop.Domain/obj
/WinglyShop.Domain/bin/Debug/net8.0
/WinglyShop.Application/obj
/WinglyShop.Application/bin/Debug/net8.0
/Modules/Products/WinglyShop.Products.Infrastructure/obj
/Modules/Users/WinglyShop.Users.Application/obj
/Modules/Users/WinglyShop.Users.Contracts/obj
/Modules/Users/WinglyShop.Users.Domain/obj
/Modules/Users/WinglyShop.Users.Infrastructure/obj
/WinglyShop.API/bin/Debug/net8.0
/WinglyShop.API/obj
